@model IEnumerable<ADO_Example.Models.Product>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@if (TempData["InfoMessage"] != null)
{
    <div class="alert alert-info">
        <strong>Information : </strong>@TempData["InfoMessage"]
    </div>
}
else if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-info">
        <strong>Success : </strong>@TempData["SuccessMessage"]
    </div>
}
else if (TempData["ErroMessage"] != null)
{
    <div class="alert alert-info">
        <strong>Error : </strong>@TempData["ErroMessage"]
    </div>
}
<form>
    <p>
        @Html.ActionLink("Create New Product", "Create", null, new { @class = "btn btn-primary" })
    </p>
    <table class="table table-responsive table-bordered table-hover">
        <thead>
            <tr class="table">
                <th>
                    @Html.DisplayNameFor(model => model.ProductName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Qty)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Remarks)
                </th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Qty)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Remarks)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.ProductId }, new { @class = "btn btn-primary" })&nbsp;&nbsp;&nbsp; |
                        @Html.ActionLink("Details", "Details", new { id = item.ProductId }, new { @class = "btn btn-success" }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.ProductId }, new { @class = "btn btn-danger" })
                    </td>
                </tr>
            }
        </tbody>
    </table>

</form>